.container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

#Track {
    border: solid #ccc 0.75px;
}

.header{
    background: #555;
    height: 100px;
    width: 100%;
    text-align: center;
}

.header img {
    float: left;
    width: 100px;
    height: 100px;
}

.header h1 {
    position: relative;
    top: 18px;
    left: 10px;
    color: white;
}

.lap-number-container{
    padding-top: 2.5%;
    justify-content: space-evenly;
    text-align: center;
    display: flex;
}

.button {
    padding: 2%;
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;

    /* Spacing */
    padding: 8px;
}

.button__arrow {
    /* Transparent background */
    background-color: transparent;

    /* Size */
    height: 12px;
    width: 12px;
}

.button__arrow--right {
    /* Edges */
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(-25%) rotate(45deg);
}

.button__arrow--left {
    /* Edges */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translateX(25%) rotate(45deg);
}

body {
    background-color: linen;
    font-family: sans-serif;
}

.container-content{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heatmap-container{
    padding-left: 6%;
}

.sector-times-container{
}

.sub-visualisations{
    display: inline-flex;
}

.race-button {
    background-color: white;
    color: black;
    border: 2px solid #555;
    transition-duration: 0.4s;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 25%;
}

.race-button:hover {
    background-color: #555;
    color: white;
}

.race-selector-container{
    padding-top: 2.5%;
    justify-content: center;
    text-align: center;
    display: flex;
}

.driver-profile-container{
    display: block;
    text-align: center;
    margin-top: 5%;
    margin-left: 25%;
    border: 1px solid #555;
    width: 50%;
    background-color: white;
}

.driver-profile{
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.driver-details{
    display: flex;
    padding-top: 3%;
}

.driver-info{
    padding-right: 10%;
    display: inline-block;
}

.driver-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 25%;
}

#dropDownMenu.select {
    position: absolute;
    width: 100px;
    top:0px;
    left:0px;
}

.metrics-dropdown{
    padding-top: 2.5%;
    justify-content: center;
    text-align: center;
    display: flex;
}

.sector-bar-chart{
    padding-left: 15%;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

.tyre-performance-container{
    /*padding-left: 10%;*/
}

.lap-number-text{
    display: inline-block;
}